@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome Revolutionary</h2>
    <p>School management page - Please <a asp-area="Identity" asp-page="/Account/Login">Login</a> to use.</p>
</div>
